@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Birthstone&family=Italianno&family=Londrina+Shadow&family=Nanum+Pen+Script&family=Nerko+One&family=Orbitron:wght@400..900&family=Pangolin&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --primary-color:#DC143C;
    --sub-color:#F75270;
    --text-color:#F7CAC9;
    --button-color:rgb(253, 235, 208);
    --background-pink :rgba(253, 235, 208,0.58) ;
    --background-white :rgb(212, 203, 188) ;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url("./images/cody-chan-jDLCOvzF2qQ-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 200px;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    width: 50%;
    height: 700px;
    background: linear-gradient(
        30deg,
        var(--background-pink),
        var(--background-white)
    );
    border-radius: 18px;
    backdrop-filter: blur(10px);
    animation: fadeSlide 1.5s ease forwards;
    opacity: 0;

    padding-top: 20px;
}


.title{
    font-family: "Italianno", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: var(--text-color);
    
}

.sub{
    font-family: "Italianno", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
}
.form-title{
    font-size: 40px;
     font-family: "Italianno", cursive;
}
.form-box{
    padding: 10px;
    
}

.form-box > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.form-box > form > input{
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 18px;    
}
input:focus {
  outline: none;
  box-shadow: 0 0 10px var(--primary-color);
  transition: box-shadow 0.3s ease;
}
button{
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 18px;
    background: linear-gradient(
        30deg,
        var(--sub-color),
        var(--button-color)
    );   
}
button:hover {
  background-position: right center;
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(220, 20, 60, 0.3);
}
footer{
    border-top: 1px solid black;
    padding-top: 20px;    
}
footer .footer-title {
  font-family: 'Birthstone', cursive;
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
}

footer .footer-desc, .footer-copy {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 18px;
  color: #444;
}
footer a {
    color: var(--primary-color);
    margin-bottom: 10px;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}